In [2]:
import numpy as np
import pandas as pd

## Question1

In [3]:
np.__version__

'1.21.5'

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Question2

In [4]:
df.shape[0]

11914

## Question3

In [5]:
df.Make.value_counts()[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

## Question4

In [6]:
audi_df = df[df.Make=='Audi']
audi_df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
17,Audi,100,1992,regular unleaded,172.0,6.0,MANUAL,front wheel drive,4.0,Luxury,Midsize,Sedan,24,17,3105,2000
18,Audi,100,1992,regular unleaded,172.0,6.0,MANUAL,front wheel drive,4.0,Luxury,Midsize,Sedan,24,17,3105,2000
19,Audi,100,1992,regular unleaded,172.0,6.0,AUTOMATIC,all wheel drive,4.0,Luxury,Midsize,Wagon,20,16,3105,2000
20,Audi,100,1992,regular unleaded,172.0,6.0,MANUAL,front wheel drive,4.0,Luxury,Midsize,Sedan,24,17,3105,2000
21,Audi,100,1992,regular unleaded,172.0,6.0,MANUAL,all wheel drive,4.0,Luxury,Midsize,Sedan,21,16,3105,2000

In [7]:
audi_df['Model'].unique().size

34

## Question5

In [8]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

## Question6

In [9]:
df['Engine Cylinders'].median()

6.0

In [10]:
df['Engine Cylinders'].value_counts()   # mode = 4.0

4.0     4752
6.0     4489
8.0     2031
12.0     230
5.0      225
10.0      68
0.0       56
3.0       30
16.0       3
Name: Engine Cylinders, dtype: int64

In [11]:
df['Engine Cylinders'].fillna(4.0 ,inplace = True)

In [12]:
df['Engine Cylinders'].median()

6.0

## Question7

In [15]:
Lotus = df[df['Make']=='Lotus']

In [16]:
X = Lotus[['Engine HP','Engine Cylinders']].drop_duplicates()
X

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [17]:
XT = X.T
XT

,3912,3913,3918,4216,4257,4259,4262,4292,4293
Engine HP,189.0,218.0,217.0,350.0,400.0,276.0,345.0,257.0,240.0
Engine Cylinders,4.0,4.0,4.0,8.0,6.0,6.0,6.0,4.0,4.0

In [18]:
XTX = np.dot(XT , X)
XTX

array([[7.31684e+05, 1.34100e+04],
       [1.34100e+04, 2.52000e+02]])

In [19]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv, XTX_inv.sum()

(array([[ 5.53084235e-05, -2.94319825e-03],
        [-2.94319825e-03,  1.60588447e-01]]),
 0.15475735843457794)

In [20]:
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
w = np.dot(np.dot(XTX_inv,XT),y)
w

array([  4.59494481, -63.56432501])